body {
    background: #e2e1e0;
    user-select: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.selectable {
    user-select: initial;
}

.header {
    position: relative;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.header span {
    position: absolute;
    left: 0;
    top: 40px;
    font-size: 38px;
    width: 100%;
    text-align: center;
    z-index: 0;
}

.menu {
    position: relative;
    margin: 10px;
    text-align: center;
    display: inline-block;
    background: #fff;
    height: 100px;
    width: 100px;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card:hover,
.menu:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.5s ;
}
.menu:active {
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.menu p {
    position: absolute;
    width: 100%;
    margin-top: 10px;
}

.fa {
    font-size: 3em;
}

.icon {
    width: 64px;
    height: 58px;
    line-height: 53px;
    bottom: 6px;
    padding: 0;
    position: absolute;
}

.menu .icon {
    width: 100%;
    left: 0;
}

.menu {
    border-radius: 10px;
    cursor: pointer;
}

.cards_wrap h1 {
    margin: 10px;
    width: 100%;
    text-align: center;
}

.card {
    background: #fff;
    text-align: center;
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 1rem;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
   
}



.card h4 {
    width: 100%;
    top: 15px;
    position: absolute;
}

.card .icon {
    visibility: hidden;
    border-radius: 10px;
    position: absolute;
    left: 0;
    margin: 0 22px;
    cursor: pointer;
    transition: all 0.5s ;
}

.card .icon:nth-of-type(2) {
    left: 100px;
}

.card:hover .icon {
    visibility: visible;
   animation: fadein 0.5s;

}

.card:hover .icon:hover {
    padding-top: 6px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card .icon:active {
    background: #e2e1e0;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card p.pcount {
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    text-align: center;
}

.card p.lcount {
    position: absolute;
    left: 0;
    top: 110px;
    width: 100%;
    text-align: center;
}

.dialog {
    width: 500px;
    height: 500px;
    background: #fff;
    margin: 20px auto;
padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    animation: fadein 0.5s;
}

.dialog h1 {
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}
.dialog form{
 margin: 0 auto ;

}

.field
{
font-size: 24px;
padding: 10px;
 
}
.field label
{
    display: inline-block;
    line-height: 48px;
    width: 170px;
    vertical-align: middle;
    
}
.field input
{
    display: inline-block;
    font-size: 24px;
    line-height: 48px;
    width: 250px;
    vertical-align: middle;
    padding-left: 5px;
}

.field input:focus
{    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.5s ;

    
}